#search input {
  display: inline-block;
}

#search label {
  display: inline-block;
}

#search div {
  display: block;
}

#search {
  width: 30%;
}

#search-results {
  width: 250px;
  height: 1000 px;
  overflow: auto;
}

.restaurant-photo {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  background-position: center center;
  background-repeat: no-repeat;
}