#search input {
  display: inline-block;
}

#search label {
  display: inline-block;
}

#search div {
  display: block;
}

#search {
  width: 30%;
}

#search-results {
  height: 1000 px;
  overflow: scroll;
}

.restaurant-photo {
  max-width: 200px;
  max-height: 150px;
}